.Header {
  background-color: var(--dark);
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  vertical-align: middle;
}
.brand {
  display: inline-block;
  width: 50px;
  overflow: hidden;
}
.brand img {
  vertical-align: middle;
}
.navigation {
  float: right;
}
.link-item {
  color: var(--gray);
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  line-height: 50px;
  padding: 0 10px;
  border-left: 1px solid #1c1c1c;
  border-right: 1px solid #1c1c1c;
}

@media (min-width: 768px) {
  .brand {
    width: auto;
  }
}
