.Header {
  background-color: #272a2e;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  vertical-align: middle;
}
.brand {
  display: inline-block;
  width: 50px;
  overflow: hidden;
}
.brand img {
  vertical-align: middle;
}
.Search {
  float: right;
}
.SearchInput {
  background-color: #272a2e;
  height: 50px;
  padding: 0 10px;
  margin: 0;
  border: 0;
  vertical-align: middle;
  display: none;
}
.SearchButton {
  background-color: transparent;
  background-image: url('../../assets/icon-search.svg');
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  border: 0;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: 576px) {
  .brand {
    width: auto;
  }
  .SearchInput {
    display: inline-block;
  }
}
