.Footer {
  background-color: var(--darker);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
}
.copyright {
  font-size: 12px;
  color: var(--gray);
  display: inline-block;
}
.Pagination {
  display: inline-block;
}
