.Details {
  padding: 20px;
}

.Details .hero {
  color: var(--white);
  display: grid;
  /* grid-template-columns: 300px repeat(auto-fill, minmax(300px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 0px 40px;
  max-width: 1440px;
  margin: auto;
}
.Details .hero-info {
  text-align: center;
}
.Details .hero-name {
  font-size: 40px;
}
.Details .hero-photo {
  text-align: center;
  position: relative;
}
.Details .hero-photo .favorite {
  font-size: 40px;
  padding: 5px;
  top: 10px;
  right: 10px;
}
.Details .hero-photo img {
  width: 100%;

  object-fit: cover;
}

.Details .hero-description {
  border: 1px solid var(--dark);
  font-size: 16px;
  line-height: 1.6em;
  padding: 15px;
}
.Details .hero-urls {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Details .hero-urls li {
  display: inline-block;
  vertical-align: middle;
}
.Details .hero-urls li a {
  color: var(--yellow);
  padding: 0 15px;
  line-height: 40px;
  border: 1px solid var(--dark);
  border-top: 0;
  display: inline-block;
  text-decoration: none;
}
.detail-favorite {
  background-color: transparent;
  font-size: 40px;
  line-height: 1;
  padding: 0 15px;
  height: 40px;
  border: 1px solid var(--dark);
  border-top: 0;
  display: inline-block;
}

.Details .Comics,
.Details .Events,
.Details .Series,
.Details .Stories {
  margin: 100px auto;
  border-top: 4px solid var(--dark);
  max-width: 1440px;
}

.Details h2 {
  color: var(--yellow);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.Details .list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-gap: 30px 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.Details .list li a {
  text-decoration: none;
}
.Details .list li a img {
  width: 100%;
  object-fit: cover;
}

.Details .title {
  color: var(--gray);
  font-size: 14px;
  display: block;
}

@media (min-width: 576px) {
  .Details .hero-info {
    text-align: left;
  }

  .Details h2 {
    text-align: left;
  }
}
